<div class="row">
    <div class="col-sm-12">
        <table class="conditiematrix">
            <tr>
                <td colspan="18">CONDITIEMATRIX</td>
            </tr>
            <tr>
                <td rowspan="3">DEFECT</td>
                <td class="text-danger">CRITICAL</td>
                <td>&nbsp;</td>
                <td colspan="15">OMVANG</td>
            </tr>
            <tr>
                <td class="text-primary">SERIOUS</td>
                <td>&nbsp;</td>
                <td colspan="3" rowspan="2">Incidentically<br />< 2%</td>
                <td colspan="3" rowspan="2">Locally<br />2-10%</td>
                <td colspan="3" rowspan="2">Regularly<br />10-30%</td>
                <td colspan="3" rowspan="2">Frequently<br />30-70%</td>
                <td colspan="3" rowspan="2">Generally<br />>70%</td>
            </tr>
            <tr>
                <td class="text-success">MINOR</td>
                <td>&nbsp;</td>
            </tr>
            <!-- body -->
            <tr>
                <td colspan="2">INTENSITEIT</td>
                <td>&nbsp;</td>
                <td colspan="3" class="text-center">1</td>
                <td colspan="3" class="text-center">2</td>
                <td colspan="3" class="text-center">3</td>
                <td colspan="3" class="text-center">4</td>
                <td colspan="3" class="text-center">5</td>
            </tr>
            <tr>
                <td colspan="2">low (begin)</td>
                <td class="text-center">1</td>
                <td class="text-center text-danger">1</td>
                <td class="text-center text-primary">1</td>
                <td class="text-center text-success">1</td>

                <td class="text-center text-danger">1</td>
                <td class="text-center text-primary">1</td>
                <td class="text-center text-success">1</td>

                <td class="text-center text-danger">2</td>
                <td class="text-center text-primary">1</td>
                <td class="text-center text-success">1</td>

                <td class="text-center text-danger">3</td>
                <td class="text-center text-primary">2</td>
                <td class="text-center text-success">1</td>

                <td class="text-center text-danger">4</td>
                <td class="text-center text-primary">3</td>
                <td class="text-center text-success">2</td>
            </tr>

            <tr>
                <td colspan="2">middle</td>
                <td class="text-center">2</td>
                <td class="text-center text-danger">1</td>
                <td class="text-center text-primary">1</td>
                <td class="text-center text-success">1</td>

                <td class="text-center text-danger">2</td>
                <td class="text-center text-primary">1</td>
                <td class="text-center text-success">1</td>

                <td class="text-center text-danger">3</td>
                <td class="text-center text-primary">2</td>
                <td class="text-center text-success">1</td>

                <td class="text-center text-danger">4</td>
                <td class="text-center text-primary">3</td>
                <td class="text-center text-success">2</td>

                <td class="text-center text-danger">5</td>
                <td class="text-center text-primary">4</td>
                <td class="text-center text-success">3</td>
            </tr>

            <tr>
                <td colspan="2">high (end)</td>
                <td class="text-center">3</td>
                <td class="text-center text-danger">2</td>
                <td class="text-center text-primary">1</td>
                <td class="text-center text-success">1</td>

                <td class="text-center text-danger">3</td>
                <td class="text-center text-primary">2</td>
                <td class="text-center text-success">1</td>

                <td class="text-center text-danger">4</td>
                <td class="text-center text-primary">3</td>
                <td class="text-center text-success">2</td>

                <td class="text-center text-danger">5</td>
                <td class="text-center text-primary">4</td>
                <td class="text-center text-success">3</td>

                <td class="text-center text-danger">6</td>
                <td class="text-center text-primary">5</td>
                <td class="text-center text-success">4</td>
            </tr>
        </table>
    </div>
</div>
