@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-sm-12">
        <br />
        <nav role="navigation" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button data-target="#bs-example-navbar-collapse-3" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Demo version</a>
                </div>
                <div id="bs-example-navbar-collapse-3" class="collapse navbar-collapse pull-right">
                    <button class="btn btn-primary navbar-btn" type="button" onclick="window.location = '/Page/Add';">Add new</button>
                </div>
            </div>
        </nav>
        
        <div class="table-responsive">
            <table class="matrix table table-hover">
                <tr>
                    <th>Code</th>
                    <th style="width: 280px;">Bouwdeel / onderdeel</th>
                    <th>Gebrek</th>
                    <th class="gr">Gebr</th>
                    <th class="gr">Int</th>
                    <th class="gr">Omv</th>
                    <th class="yl">Con</th>
                    <th class="gr">Actie</th>
                    <th class="gr">Hvh</th>
                    <th>Eenh</th>
                    <th>%</th>
                    <th class="yl">Kosten</th>
                    <th>Total</th>
                    <th>Cycl</th>
                    <th>Startjaar</th>
                    <th>BTW</th>
                    <th>Cal</th>
                    <th></th>
                </tr>

                @for (var i = 0; i < 10; i++)
                {
                    <tr>
                        <td class="vam"><span class="label label-success">31.39</span></td>
                        <td class="vam"><a href="/page/edit/1">Dakaansluiting; loodslab tpv gevel en dakkapel</a></td>
                        <td>Roestvorming bouten droogrekken</td>
                        <td class="gr text-center">5</td>
                        <td class="gr text-center">2</td>
                        <td class="gr text-center">2</td>
                        <td class="yl text-center">2</td>
                        <td class="gr">Onderhoud bevestiging</td>
                        <td class="gr text-center">23</td>
                        <td class="text-center">m2</td>
                        <td class="text-center">1</td>
                        <td class="yl text-center">&euro; 30</td>
                        <td class="text-center">&euro; 690</td>
                        <td class="text-center">3</td>
                        <td class="text-center">2014</td>
                        <td class="text-center">19</td>
                        <td class="vam">
                            <a href="javascript:void(0);" class="btncalendar" data-toggle="popover" title="Years cost"
                               data-placement="left"
                               data-content="2014 - &euro;1600, 2017 - &euro;1600"></a>
                        </td>
                        <td class="text-center vam"><a class="delete" href="#" title="Remove" data-toggle="modal" data-target="#myModal"></a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <nav>
            <ul class="pagination pull-right">
                <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
            </ul>
        </nav>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Remove matrix item</h4>
            </div>
            <div class="modal-body">
                Are your sure you want to remove this matrix item? Press 'Delete' to apply, 'Close' - to cancel.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function() {

        $(".matrix td a.delete").bind("click", function(event) {
            event.preventDefault();
        });

        $("#myModal .btn-danger").bind("click", function(event) {
            location.reload();
        });

        $('[data-toggle="popover"]').popover();

    });
</script>