@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-sm-12">
        <br />
        <nav role="navigation" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button data-target="#bs-example-navbar-collapse-3" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Demo version</a>
                </div>
                <div id="bs-example-navbar-collapse-3" class="collapse navbar-collapse pull-right">
                    <button class="btn btn-primary navbar-btn" type="button" onclick="window.location = '/Page/Add';">Add new</button>
                </div>
            </div>
        </nav>
        
        <div class="table-responsive">
            <table class="matrix table table-hover">
                <tr>
                    <th>Code</th>
                    <th style="width: 280px;">Bouwdeel / onderdeel</th>
                    <th>Gebrek</th>
                    <th class="gr">Gebr</th>
                    <th class="gr">Int</th>
                    <th class="gr">Omv</th>
                    <th class="yl">Con</th>
                    <th class="gr">Actie</th>
                    <th class="gr">Hvh</th>
                    <th>Eenh</th>
                    <th>%</th>
                    <th class="yl">Kosten</th>
                    <th>Total</th>
                    <th>Cycl</th>
                    <th>Startjaar</th>
                    <th>BTW</th>

                    <th class="yl">2012</th>
                    <th class="yl">2013</th>
                    <th class="yl">2014</th>
                </tr>

                @for (var i = 0; i < 10; i++)
                {
                    <tr>
                        <td>31.39</td>
                        <td>Dakaansluiting; loodslab tpv gevel en dakkapel</td>
                        <td>Roestvorming bouten droogrekken</td>
                        <td class="gr text-center">5</td>
                        <td class="gr text-center">2</td>
                        <td class="gr text-center">2</td>
                        <td class="yl text-center">2</td>
                        <td class="gr">Onderhoud bevestiging</td>
                        <td class="gr text-center">23</td>
                        <td class="text-center">m2</td>
                        <td class="text-center">1</td>
                        <td class="yl text-center">&euro; 30</td>
                        <td class="text-center">&euro; 690</td>
                        <td class="text-center">3</td>
                        <td class="text-center">2014</td>
                        <td class="text-center">19</td>
                        <td class="yl text-center">2012</td>
                        <td class="yl text-center"></td>
                        <td class="yl text-center"></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <nav>
            <ul class="pagination pull-right">
                <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
            </ul>
        </nav>
    </div>
</div>