body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#Cond { font-weight: bold;}

.conditiematrix { width: 100%;margin-bottom: 50px;margin-top: 40px;}
.conditiematrix td { border: 1px solid #cccccc; padding: 3px 5px; font-weight: bold;}

.panel_calendar { margin-top: 50px;}

ul.calendar { list-style-type: none;padding-left: 20px;}
ul.calendar li { margin-bottom: 5px;}

table.matrix { font-size: 12px;margin: 20px 0 50px 0;}
table.matrix th { text-align: center;}
table.matrix th,
table.matrix td { border: 1px solid #cccccc;padding: 3px 5px;}

table.matrix .gr { background-color: greenyellow;}
table.matrix .yl { background-color: orange;}

table.matrix td a.delete { width: 24px; height: 24px;background: url("../images/ico_delete.png") no-repeat;display: inline-block;outline: none;text-indent: -9999px;}
table.matrix td.vam { vertical-align: middle;}

.btncalendar { width: 24px;height: 24px;background: url("../images/ico_calendar.png") no-repeat 0 0; display: inline-block; outline: none; }

.ava-image { margin: 3px 15px;}
.ava-image img { width: 45px;height: 45px;}